* {
    color: #333;
}
body{
    background: rgba(47, 47, 47, 0.551);
}
.container{
    height: 100vh;
    position: relative;
}
.chat-box{
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 450px;
    width: 300px;
    background: rgba(0, 149, 255, 0.56);
    padding: 10px 0 5px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
label img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
}
ul{
    list-style-type: none !important;
    margin-top: 20px;
}
#login{
    margin-top: 200px;
    border: 2px solid #999;
    padding: 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.392);
}
#login label{
    color: #222;
    font-weight: 500;
}
.user-info img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px dotted rgba(34, 34, 34, 0.392);
    padding: 3px;
}
/* .user-account{
    border-bottom: 1px solid #999;
} */
.main-page{
    height: 570px;
    overflow-y: auto;
    background: #fff;
    border: #222;
    padding: 15px 10px;
    margin-top: 30px !important;
    border-radius: 10px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.687);
    position: relative;
}
ul li{
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d5d5;
    padding: 5px 0;
    margin-right: 5px;
}
ul{
    padding: 0 0 0 10px !important;
}
a{
    text-decoration: none !important;
}
input:focus, button{
    outline: none;
}
.user-list{
    max-height: 320px;
    overflow-y: scroll;
}
#chat{
    margin-top: 20px;
    padding: 8px 15px 5px;
    height: 420px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid #444;
    background: rgb(75, 90, 74);

}
#chat::-webkit-scrollbar,.user-list::-webkit-scrollbar {
    width: 8px;
}
#chat::-webkit-scrollbar-track,.user-list::-webkit-scrollbar-track {
    background: #f1f1f13c;
    border-radius: 15px;
}
#chat::-webkit-scrollbar-thumb,.user-list::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 15px;
}
#chat::-webkit-scrollbar-thumb:hover,.user-list::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 153, 153);
}
p{
    padding: 0;
}
.chat-body{
    width: 100%;
}
.imcomming-msg{
    margin-right: 30%;
    background: rgb(203, 203, 203);
    border-radius: 30px 30px 30px 0;
    padding: 5px 5px 0 12px;
}
.outgoing-msg{
    background: rgb(106, 192, 73);
    border-radius: 30px 30px 0 30px;
    padding: 5px 12px 0 5px;
    margin-left: 30%;
}
p{
    padding-bottom: 5px;
    word-wrap: break-word;
}
.sent-body{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 10px 0 0;
}
.form-control:focus {
	border-color: #777 !important;
	outline: 0;
	box-shadow: none !important;
}